mixin storeForm(store = {})
    form(action="/add" method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name")
        label(for="description") Description
        textarea(name="description")
        
        -const choices= ['wifi', 'Halal', 'Non-Vegetarian', 'Open Lately', '5 star'];
        ul.tags
            each choice in choices
                .tag.tag__choice
                 input(type="checkbox" name="tags" id=choice value= choice)
                 label(for="tags") #{choice}
        
        input(type="submit" value="Save -<" class="button")